{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>baabtra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Mulish:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- navbar-section -->

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg fixed-top navbar-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="logo"  src="{% static 'images/logo.png' %}" alt=""></a>
              <button class="navbar-toggler ml-auto custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon  "></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Programes
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Python full stack development</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">PHP full stack development</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Angular frontend </a></li>
                    </ul>
                  </li>
      
      
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Placements</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ">Blog</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link ">Gallery</a>
                  </li>
                  <li>
                    <button type="button" class="btn btn-danger btn-size">Enquire Now</button>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div> 

     <!-- first-section -->
    <div class="row">
      <div class="first-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1>Getting a Software Job is So Easy Now with our IT Internship Programs.</h1>
              <p>Learn programming from Kerala's most trusted software training company with the highest placement record. Enroll in software courses and internship programs in Python, Flutter, Angular and PHP to start your career.</p>
    
            </div>
            <div class="col-lg-6">
            <img class="first-image" src="{% static 'images/programming-courses-in-calicut.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
        
    </div>


   



    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>