<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h1{
      color: rgb(42, 165, 73);
    }
    h2{
      color: red;
      font-size: 3rem;
    }
  </style>
</head>
<body>
  <!-- <button onclick="alert('welcome')">submit</button>
  <script>
    document.write('<h1>hello world</h1>')

    
  </script> -->

  <script>
    // num1 = '10';
    // num2 = 30;
    // // document.write(num1)
    // console.log(num1)
    // console.log(typeof(num1))
    // console.log(typeof(num2))

    // console.log(num1+num2)
    // name="vis hnu"
    // console.log(name)
    // console.log(name.length)
    // console.log(name[0])
    // console.log(name[1])
    // console.log(name[2])
    // console.log(name[3])
    // console.log(name[4])
    // console.log(name[8])

    // higer_education=false
    // console.log(higer_education)
    //  nmb1 = parseInt(prompt('enter your first number')) 
    //  nmb2 =  parseInt(prompt('enter your second number')) 

    //   sum = nmb1+nmb2 
    //   sub = nmb1-nmb2
    //   mul = nmb1*nmb2
    //   div = nmb1/nmb2
    //   console.log(typeof(nmb1))
    //  console.log(sum)

     
    // document.write('<h1>',nmb1,' + ',nmb2,' is = ',sum,'</h1>')
    // document.write('<h1>',nmb1,' - ',nmb2,' is = ',sub,'</h1>')
    // document.write('<h1>',nmb1,' * ',nmb2,' is = ',mul,'</h1>')
    // document.write('<h1>',nmb1,' / ',nmb2,' is = ',div,'</h1>')
  
    // name=prompt('Enter your name ')
    // age=parseInt(prompt('Enter your age '))

    // balance=100-age

    // document.write('<h2> hello ',name,' you have ',balance,' left !!!! </h2>')


//     var a =parseInt(prompt("enter the value")) 
// for(var i=0;i<a;i++){

// }
// if(a%2==0){
//   console.log("print number is even")
//   
// } else{
//   console.log("print number is odd")
// }

    // for( var i=0;i<a;i++){
      // console.log(i)
    // }
    
    // var cars = ["ford","swift","BMW"]
    // var i=0
    // var text=""
    // while(cars[i]){
    //   text += cars[i] + '<br>'
    //   i ++
    // }
    // document.write(text)


//     var i=0;
// var j=0;

// while (i <=5) {
//      j=0;
//     while (j<=5) {
//         console.log(i,j);
//         j++;
//     }
//     i++;
// }

// do while loop

// var i = 0;
// do {
//   console.log(i);
//   i++;
// }while(i<=5)

// function example

// function sum ( a,b) {
  
//   var sum = a+b;
//   console.log(sum);
// }


// sum(25,30);
// sum(100,20)

// function userdetails( name,age,email,password){
//   console.log("user name :"+name);
//   console.log("age :"+age);
//   console.log("E mail :"+email);
//   console.log("password :"+password);
// }

// var name=prompt("Enter your name");
// var age = parseInt(prompt("your age "));
// var email=prompt("Enter your email");
// var password=prompt("Enter your password ");
// userdetails(name,age,email,password);
//  userdetails(name,age,email,password);


// loop example
// var a;
// var sum=0;
// var i;
// var number = prompt("Enter a digit");
// //  var m=number.length;
// var new_number=parseInt(number);



// while(new_number!==0){
//   a= new_number%10;
  
//   sum += a;
//   new_number= M
//   ath.floor(new_number/10) ;
//   i++;

// }console.log(sum);

// reverse loop

//  num1=prompt("Enter the the number");
// var reminder;
// var reverse = 0;
// while(num1 > 0){
//    reminder= num1 % 10;
//    reverse = reverse *10 + reminder;
//    num1= parseInt(num1/10);
// }
// console.log(reverse);


// num1=prompt("Enter the value");
// var reminder;
// var reverse=0;
// num2=num1;
// while(num1>0){
//   reminder= num1 % 10;
//   reverse = reverse *10 + reminder;
//    num1= parseInt(num1/10);
// }
// if(num2==reverse){
//   console.log("number is palindrom")
// } else {
//   console.log("number is  not palindrom")
// }



  </script>
</body>
</html>